/*------ main ------*/
main {
    display: flex;
}

/*------ sidebar ------*/
.sidebar {
    width: 260px;
    height: calc(100vh - 80px);
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    background-color: #000;
}

/*------ sidebar logo ------*/
.logo {
    margin: 10px 10px 0 10px;
    width: 70%;
}

/*------ sidebar menu ------*/
.sidebar-options ,.sidebar-playlist ,.sidebar-account {
    margin-top: 20px;
}
.sidebar-playlist h3 {
    text-transform: uppercase;
    padding-left: 15px;
}
.sidebar-playlist {
    flex-grow: 1;
    overflow-y: auto;
}
.sidebar-options > * {
    margin: 10px 0;
} 
.sidebar-playlist > * {
    margin: 20px 0;
}
.sidebar-account {
    margin-bottom: 6px;
}

/*------ sidebar menu link  ------*/
.option {
    display: flex;
    padding-left: 15px;
    align-items: center;
    text-decoration: none;
    color: #717171;
}
hr {
    margin: 10px 20px;
    border-color: #6f6f6f;
}

/*------ sidebar menu link img ------*/
.option img {
    width: 30px;
}
.option img ,.option i {
    margin-right: 20px;
}
.option img {
    max-width: 20%;
}
.add-playlist {
    height: 40px;
    width: 40px;
    text-align: center;
    font-size: 26px;
    line-height: 40px;
    background-color: #a3a3a3;
    color: #000;
}
#download {
    width: 25px;
}
#profile {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: #a3a3a3;
}

/*------ music ------*/
.music {
    height: calc(100vh - 80px);
    padding-top: 90px;
    padding-left: 20px;
    width: calc(100% - 260px);
    overflow-y: auto;
    background-color: #141922;
}
.album-title {
    margin: 30px 0;
}
.album-title h3 {
    font-size: 26px;
}
.album-title p {
    font-size: 14px;
    color: #7d7f84;
}

/*------ music nav ------*/
.main-nav ul {
    display: flex;
    justify-content: center;
}
.main-nav ul li {
    list-style: none;
    margin: 10px;
}
.main-nav ul li a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    width: calc(100% / 6 - 10px);
    color: #7d7f84;
}

/*------ music albums ------*/
.albums {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.album {
    text-align: center;
    width: calc(100% / 6 - 10px);
}

/*------ music albums description  ------*/
.album img {
    display: block;
}
.album-name > * {
    padding-top: 10px;
}
.album-name p {
    color: #7d7f84;
}
.img-overlay.special img {
    border-radius: 50%;
}
.img-overlay {
    position: relative;
}

/*------ music album overlay ------*/
.img-overlay::after {
    content: "\f144";
    font-family: "Font Awesome 6 Free";
    font-weight: 400;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,0.5);
    font-size: 50px;
    color: #fff;
    opacity: 0;
    transition: opacity 0.4s;
}
.img-overlay.special::after {
    border-radius: 50%;
}
.album:hover .img-overlay::after {
    opacity: 1;
}

@media screen and (max-width:700px) {
    .album {
        width: calc(100% / 4 - 10px);
    }
    .main-nav ul li a {
        width: calc(100% / 4 - 10px);
    }        
}