/*------ main ------*/
main {
    display: flex;
}

/*------ sidebar ------*/
.sidebar {
    width: 260px;
    height: calc(100vh - 80px);
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    background-color: #000;
}

/*------ sidebar logo ------*/
.logo {
    margin: 10px 10px 0 10px;
    width: 70%;
}

/*------ sidebar menu ------*/
.sidebar-options ,.sidebar-playlist ,.sidebar-account {
    margin-top: 20px;
}
.sidebar-playlist h3 {
    text-transform: uppercase;
    padding-left: 15px;
}
.sidebar-playlist {
    flex-grow: 1;
    overflow-y: auto;
}
.sidebar-options > * {
    margin: 10px 0;
} 
.sidebar-playlist > * {
    margin: 20px 0;
}
.sidebar-account {
    margin-bottom: 6px;
}

/*------ sidebar menu link  ------*/
.option {
    display: flex;
    padding-left: 15px;
    align-items: center;
    text-decoration: none;
    color: #717171;
}
hr {
    margin: 10px 20px;
    border-color: #6f6f6f;
}

/*------ sidebar menu link img ------*/
.option img {
    width: 30px;
}
.option img ,.option i {
    margin-right: 20px;
}
.option img {
    max-width: 20%;
}
.add-playlist {
    height: 40px;
    width: 40px;
    text-align: center;
    font-size: 26px;
    line-height: 40px;
    background-color: #a3a3a3;
    color: #000;
}
#download {
    width: 25px;
}
#profile {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: #a3a3a3;
}

/*------ music section ------*/
.music {
    height: calc(100vh - 80px);
    padding-top: 80px;
    width: calc(100% - 260px);
    overflow-y: auto;
    background-color: #141922;
}
.albums {
    display: flex;
    flex-wrap: wrap;
}
.album {
    height: 200px;
    min-width: 200px;
    background-color: aqua;
    margin: 30px;
    border: 2px solid red;
}