/*------ media query md 700px ------*/
@media screen and (max-width:700px) {
    .row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    

    .albums {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
      
}