/*------ general ------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Montserrat', sans-serif;
    color: #fff;
}
img {
    max-width: 100%;
}
button {
    cursor: pointer;
}

/*------ header ------*/
header {
    height: 80px;
    width: calc(100% - 260px);
    position: fixed;
    top: 0;
    right: 0;
    z-index: 2;
    background-color: rgba(8, 11, 18, 0.8);
}
.upgrade {
    text-align: right;
    line-height: 80px;
    margin-right: 30px;
}
.upgrade button {
    background-color: #080b12;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 30px;
    border-style: outset;
    padding: 10px 30px;
    text-transform: uppercase;
    font-size: 12px;
    cursor: pointer;
}

/*------ main ------*/
main {
    display: flex;
}

/*------ sidebar ------*/
.sidebar {
    width: 260px;
    height: calc(100vh - 80px);
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    background-color: #000;
}

/*------ sidebar logo ------*/
.logo {
    margin: 10px 10px 0 10px;
    width: 70%;
}

/*------ sidebar menu ------*/
.sidebar-options ,.sidebar-playlist ,.sidebar-account {
    margin-top: 20px;
}
.sidebar-playlist h3 {
    text-transform: uppercase;
    padding-left: 15px;
}
.sidebar-playlist {
    flex-grow: 1;
    overflow-y: auto;
}
.sidebar-options > * {
    margin: 10px 0;
} 
.sidebar-playlist > * {
    margin: 20px 0;
}
.sidebar-account {
    margin-bottom: 6px;
}

/*------ sidebar menu link  ------*/
.option {
    display: flex;
    padding-left: 15px;
    align-items: center;
    text-decoration: none;
    color: #717171;
}
hr {
    margin: 10px 20px;
    border-color: #6f6f6f;
}

/*------ sidebar menu link img ------*/
.option img {
    width: 30px;
}
.option img ,.option i {
    margin-right: 20px;
}
.option img {
    max-width: 20%;
}
.add-playlist {
    height: 40px;
    width: 40px;
    text-align: center;
    font-size: 26px;
    line-height: 40px;
    background-color: #a3a3a3;
    color: #000;
}
#download {
    width: 25px;
}
#profile {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: #a3a3a3;
}

/*------ sidebar menu link hover  ------*/
.option:hover {
    color: #fff;
}
.sidebar-options .option:hover {
    border-left: 3px solid #adff2f;
}

/*------ music section ------*/
.music {
    height: calc(100vh - 80px);
    padding-top: 80px;
    width: calc(100% - 260px);
    overflow-y: auto;
    background-color: #141922;
}
.albums {
    display: flex;
    flex-wrap: wrap;
}
.album {
    height: 200px;
    min-width: 200px;
    background-color: aqua;
    margin: 30px;
    border: 2px solid red;
}

/*------ footer ------*/
footer {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 2;
    display: flex;
    align-items: center;
    width: 100%;
    height: 80px;
    padding: 0 8px;
    background-color: #282828;
}

/*------ footer columns ------*/
.footer-left ,.footer-right {
    display: flex;
    align-items: center;
    width: 20%;
    border: 1px solid red;
}
.footer-center {
    border: 1px solid green;
    width: 60%;
    text-align: center;
}
.footer-right {
    text-align: right;
}

/*------ footer columns left ------*/
.footer-left {
    justify-content: space-between;
}
.footer-left img {
    margin-right: 6px;
    width: 60px;
}
.f-a-d {
    display: flex;
    align-items: center;
}
.f-r-icon {
    display: flex;
    margin: 5px;
}
.f-r-icon i {
    padding: 5px;
    color: #717171;
}

.f-r-icon i:hover {
    color: #fff;
}
.player-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}
.f-btn {
    background-color: #282828;
    border: none;
    color: #fff;
}
.player-buttons i {
    padding: 0 10px;
}
.play {
    font-size: 26px;
}

.player-bar {
    display: flex;
    justify-content: center;
    align-items: center;
}
.player-bar span {
    margin: 0 20px;
}

.bar-played {
    height: 5px;
    width: 15%;
    border-radius: 30px;
    background-color: #c1c1c1;
}
.bar-unplayed {
    height: 5px;
    width: 35%;
    border-radius: 30px;
    background-color: #5a5a5a;
}
.circle {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #c1c1c1;
}

